* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --bcolor: rgb(236, 68, 50);
}


#head {
    width: 100%;
    height: auto;
    background-color: var(--bcolor);
}

.head-fst {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: large;
    flex-wrap: wrap;
}

.head-fst-nv1 {
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.head-fst-nv2 {
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.head-fst-nv3 {
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.head-fst-nv1-dv {
    background-color: var(--bcolor);
    margin: 0px 1px 0px 1px;
    padding: 1vh 1vh 1vh 1vh;
}

.head-fst-nv2-dv span {
    margin: 0px 1px 0px 1px;
    padding: 1vh 0.5vh 1vh 0.5vh;
    color: white;
    font-weight: bold;
}


.head-fst-nv3 button{
    padding: 3px 8px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: medium;
    background-color: transparent;
    color: white;
    font-weight: bold; 
}


/* <!--------------------------------second-landing-logo-page-------------------------------------> */



#second {
    width: 100%;
    height: auto;
}

.second-nv {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} 

.second-nv-logo-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8vh;
}

.second-nv-log-dv  {
    display: flex;
    flex-wrap: wrap;
}

.second-nv-log-dv span {
    font-size: 1.6em;
    padding: 2vh;
}
.second-nv-logo img {
    width: 35px;
    height: 35px;
    padding: 3px;
    margin: auto;
}


.second-nv-logo-links-ls  {
    font-size: 1.6rem;
    padding: 1vh 1vh;
}

.second-nv-logo-search-svg {
    height: 100%;
}

.second-nv-logo-search-svg  svg{
    padding: 1vh 1vh;
}



/* <!-- ---------------------------third-img-page----------------------------------------------->*/


#third {
    width: 100%;
    height: 80vh;
    background-image: url(img/bg-img.avif);
    position: relative;
}

.third-overlay {
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.4;
    position: absolute;
}


.third-data {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8vw;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
}


.third-data-hd h1 {
   color: white;
   font-size: xx-large;
   font-weight: bolder;
}


.third-data-para p {
    color: white;
    font-size: xx-large;
}


.third-data-hd {
    padding: 0.5vh;
}


.third-data-hd h1 {
    padding: 1vh;
    color: red;
}


.third-data-para {
    padding: 0.5vh;
}


.third-data-button {
    padding: 0.5vh;
}


.third-data-resume {
  padding: 1.4vh 2vh;
  color: white;
  font-weight: bolder;
  font-size: large;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;
}


.third-data-resume:hover {
    background-color: rgb(87, 84, 84);
}



/* ---------------------------------features-page----------------------------------*/



#features {
    width: 100%;
    height: auto;
    background-color: var(--bcolor);
}


.features-box {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}


.features-box-dt {
    margin: auto;
    padding: 2vh;
}


.features-box-dt h1 {
    padding: 2vh 0;
    font-size: x-large;
    color: white;
    text-decoration: underline;
}


.features-box-dt p {
    font-size: large;
    color: white;
}


/* ------------------------------aboutus page-------------------------------*/


#aboutus {
    width: 100%;
    height: auto;
    margin: 2vw;
}


.aboutus-box {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutus-first {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vh;
    margin: auto;
}


.aboutus-first-box1 {
    padding: 2vh 0;
}

.abt-fst-box-uline {
    width: 22vh;
    height: 3px;
    background-color: var(--bcolor);
}

.aboutus-first-box1 h1 {
    font-size: 2em;
}

.aboutus-first-box2 {
    padding: 1vh 0;
}

.aboutus-first-box2 h3{
    padding: 0.8vh 0;
    font-size: 1.3em;
}

.aboutus-first-box2 p  {
    font-size: 1.2em;
}

.abt-fst-box-btn {
    padding: 1.2vh 2vh;
    background-color: var(--bcolor);
    border: 1px solid black;
    border-radius: 12px;
    color: white;
    font-size: large;
    font-weight: bold;
}


.abt-fst-box-btn:hover {
    background-color: rgb(64, 64, 61);
}


.aboutus-square {
  height: 7vw;
  width: 28vw;
  border: 1vh solid var(--bcolor);
  background-color: transparent;
  position: absolute;
  top: 15.3vw;
  
}


.aboutus-second {
    width: 50%;
    height: auto;
    margin: auto;
}

.aboutus-second-dv {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center ;

}

.aboutus-second-dv img {
    width: 60%;
    height: auto;
    position: relative;
    z-index: 10;
}


/* <!------------------------------------our service-------------------------------------> */


#service {
    width: 100%;
    height: auto;
    background-color: rgb(239, 237, 237);
}


.section-boxes1 {
    height: auto;
    width: 82%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 3vh 0;
}

.section-boxes1 h1 {
    font-size: 2rem;
}

.section-uline {
    width: 20vw;
    height: 0.5vh;
    background-color: red;
}


.section-boxes2 {
    height: 100%;
    width: 82%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 4vh;
    row-gap: 4vh;
    padding: 1vh 0 10vh 0;
}

.section-box {
    border: 1px solid black;
    padding: 2vh 4vh;
}

.section-box h1 {
    padding: 1vh 0;
}

.section-box p {
    font-size: medium;
}

.section-box img {
    width: 35vh;
    height: 25vh;
    margin: auto;
}


.section-box-img {
    transition: transform 0.4s ease, filter 0.4s ease;
}


.section-box-img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}


@media (max-width: 900px) {

    .section-boxes2 {
        height: 100%;
        width: 82%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150vw, 1fr));
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        column-gap: 4vh;
        row-gap: 4vh;
        padding: 1vh 0 10vh 0;
    }   

    .section-box p {
        font-size: medium;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4vh;
    }
}